// Colors.

$white: #fff !default;

$sidebar-back-color: #222a38 !default;
$sidebar-light-grey: #7a7f87 !default;
$sidebar-dark-grey: #373e4b !default;

// Layout.

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
