// Colors.

$white: #fff !default;
$black: #000 !default;
$light-grey: #e5e5e5 !default;
$blue-grey: #f3f7fa !default;
$blue-grey-dark: #e1e7ed !default;
$text-dark-blue: #57677b !default;

$sidebar-back-color: #272c38 !default;
$sidebar-lines: #848484 !default;
$sidebar-lines-dark: #525866 !default;

$shadow-light: rgba(0, 0, 0, 0.1) !default;
$shadow-dark: rgba(0, 0, 0, 0.3) !default;
$loader-background: rgba(255, 255, 255, 0.7) !default;

$yellow: #efce4a !default;
$green: #7ad83d !default;

// Weights

$weight-semi-bold: 500 !default;
$weight-bold: 700 !default;

// Layout.

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
