//
// @file
// MFB Browser CSS.
//

@import "variables";

.media-folder-browser {
  display: flex;
  position: relative;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mfb-overview {
  position: relative;
  flex: 5;
}

.overview-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;

  .search__current-folder {
    margin-left: 15px;
    color: $text-dark-blue;
    font-size: 25px;
    font-weight: $weight-semi-bold;
  }

  .actions__count {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: $black;
    font-size: 15px;
  }

  .select-actions,
  .standard-actions {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    transform: scaleY(1);
    transform-origin: top;
    transition: all 0.3s;
    opacity: 1;

    &.hidden-scale-y {
      transform: scaleY(0);
      opacity: 0;
    }

    .mfb-button {
      margin: 0 5px;
    }
  }

  .standard-actions {
    transform-origin: bottom;
  }
}

.results-wrapper {
  position: relative;
  height: calc(100% - 100px);
  overflow: scroll;
}

.mfb-results-counter {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 40px;
  padding-left: 15px;
  border-top: solid 1px $blue-grey-dark;
  border-bottom: solid 1px $blue-grey-dark;
  background-color: $blue-grey;
  color: $text-dark-blue;

  b {
    padding: 5px;
  }
}

.overview-wrapper {
  height: calc(100% - 84px);
  overflow: scroll;
}

.mfb-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-top: solid 1px $blue-grey-dark;
  border-bottom: solid 1px $blue-grey-dark;
  background-color: $blue-grey;

  &_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &_list-item {
    display: inline;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.overview-container {
  display: grid;
  padding: 15px;
  background-color: $white;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 15px;

  > .overview-item:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &::before {
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    content: "";
  }
}

.overview-item {
  position: relative;
  transform: translate(0, 0);
  border: none;
  color: $black;
  text-decoration: none;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus {
    border: none;
    color: $black;
    text-decoration: none;
  }

  &__folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 15px;

    &__image {
      width: 80%;
    }

    &__label {
      width: 100%;
      margin-top: 5px;
      color: $sidebar-back-color;
      font-weight: $weight-semi-bold;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      opacity: 0.7;
    }

    &.editable {
      .overview-item__folder__label {
        text-overflow: clip;
        cursor: text;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__media {
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 15px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 $shadow-light;

    &.focused,
    &.editable,
    &:hover,
    &:active {
      box-shadow: 0 4px 8px 0 $shadow-dark;

      .overview-item__media__info {
        height: 55px;
      }

      .info_details__size,
      .info_details__type {
        opacity: 1;
      }
    }

    &__info {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 27px;
      padding-top: 5px;
      transition: height 0.2s ease-in-out;
      background-color: $white;
      will-change: height;
    }

    &__selection {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
      border: 5px solid $green;
      border-radius: 15px;
      opacity: 0;
      z-index: 1;
    }

    .selected-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: $green;

      &::before {
        display: block;
        width: 11px;
        height: 18px;
        margin-top: -4px;
        transform: rotate(45deg);
        border-right: 5px solid $white;
        border-bottom: 5px solid $white;
        content: "";
      }
    }

    &.selected .overview-item__media__selection {
      opacity: 1;
    }

    .info_icon {
      display: block;
      width: 26%;
      height: 20px;
      margin-left: 4%;
      float: left;
      background: no-repeat center center;
      background-size: 16px;
    }

    &.editable .overview-item__media__info {
      z-index: 2;

      .info_details__name {
        text-overflow: clip;
        cursor: text;
      }
    }

    .info_details {
      width: 70%;
      float: right;
      color: $black;
      line-height: 16px;

      &__name {
        display: block;
        width: 95%;
        margin-top: 2px;
        font-weight: $weight-semi-bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &__size,
      &__type {
        display: block;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
      }
    }
  }
}

.folder-browser-widget-modal .ui-front.ui-widget-content.ui-dialog-content {
  padding: 0;
}

// Context Menu
.folder-context-menu {
  position: fixed;
  width: 120px;
  background-color: $white;
  box-shadow: 0 4px 5px 3px $shadow-light;
  z-index: 3;
}

.context-options {
  margin: 0;
  padding: 10px 0;
  list-style: none;

  .option {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: $weight-semi-bold;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background: $shadow-light;

      .sub-options {
        display: block;
      }
    }
  }

  .option.linkoption {
    padding: 0;
  }

  .option__link {
    display: inline-block;
    width: calc(100% - 40px);
    padding: 10px 20px;
    color: $sidebar-back-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.sub-options {
  display: none;
  position: absolute;
  top: 23px;
  left: 110px;
  background-color: $white;
  box-shadow: 0 4px 5px 3px $shadow-light;
}

// Loader:
.loader-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 100px);
  background-color: $loader-background;
  z-index: 2;
}

.hidden {
  display: none;
}

// Buttons
.mfb-button {
  display: inline-block;
  padding: 5px 25px;
  transition: all 0.1s ease-in-out;
  border: solid 1px $sidebar-back-color;
  border-radius: 15px;
  background-color: $white;
  color: $sidebar-back-color;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $sidebar-back-color;
    color: $white;
  }
}

// Upload form wrapper
.upload-wrapper {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
  background-color: $white;
  z-index: 3;
  will-change: height;

  &.hidden {
    display: block;
    transform: scale(0);
    opacity: 0;
    overflow: hidden;
  }
}
