//
// @file
// MFB Browser CSS.
//

@import "variables";

.media-folder-browser {
  display: flex;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mfb-overview {
  position: relative;
  flex: 5;
}

.overview-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $sidebar-back-color;

  &.search {
    border-top-right-radius: 15px;
  }

  &.actions {
    border-bottom-right-radius: 15px;
  }

  .search__current-folder {
    margin-left: 10px;
    color: $white;
    font-size: 16px;
  }

  .actions__count {
    margin-left: 10px;
    color: $white;
    font-size: 16px;
  }

  .select-actions,
  .standard-actions {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    transform: scaleY(1);
    transform-origin: top;
    transition: all 0.3s;
    opacity: 1;

    &.hidden-scale-y {
      transform: scaleY(0);
      opacity: 0;
    }

    .mfb-button {
      margin: 0 5px;
    }
  }

  .standard-actions {
    transform-origin: bottom;
  }
}

.results-wrapper {
  height: calc(100% - 100px);
}

.overview-container {
  display: grid;
  padding: 15px 0 15px 15px;
  background-color: $white;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 15px;

  > .overview-item:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &::before {
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    content: "";
  }
}

.overview-item {
  position: relative;
  border: none;
  color: $black;
  text-decoration: none;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus {
    border: none;
    color: $black;
    text-decoration: none;
  }

  &__folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 15px;

    &__image {
      width: 80%;
    }

    &__label {
      margin-top: 5px;
      color: $sidebar-dark-grey;
      font-weight: $weight-semi-bold;
    }

    &:hover {
      box-shadow: 0 4px 8px 0 $shadow-light;
    }
  }

  &__media {
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 $shadow-light;

    &:hover,
    &:active {
      box-shadow: 0 4px 8px 0 $shadow-dark;

      .overview-item__media__info {
        height: 55px;
      }

      .info_details__size,
      .info_details__type {
        opacity: 1;
      }
    }

    &__info {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 27px;
      padding-top: 5px;
      transition: height 0.2s ease-in-out;
      background-color: $white;
    }

    &__selection {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
      border: 5px solid $green;
      border-radius: 15px;
      opacity: 0;
      z-index: 1;
    }

    .selected-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: $green;

      &::before {
        display: block;
        width: 11px;
        height: 18px;
        margin-top: -4px;
        transform: rotate(45deg);
        border-right: 5px solid $white;
        border-bottom: 5px solid $white;
        content: "";
      }
    }

    &.selected .overview-item__media__selection {
      opacity: 1;
    }

    .info_icon {
      display: block;
      width: 26%;
      height: 20px;
      margin-left: 4%;
      float: left;
      background: no-repeat center center;
      background-size: 16px;
    }

    .info_details {
      width: 70%;
      float: right;
      color: $sidebar-dark-grey;
      line-height: 16px;

      &__name {
        display: block;
        margin-top: 2px;
        font-weight: $weight-semi-bold;
      }

      &__size,
      &__type {
        display: block;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
      }
    }
  }
}

// Context Menu
.folder-context-menu {
  display: none;
  position: fixed;
  width: 120px;
  background-color: $white;
  box-shadow: 0 4px 5px 3px $shadow-dark;
  z-index: 3;
}

.context-options {
  display: none;
  margin: 0;
  padding: 10px 0;
  list-style: none;

  .option {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: $weight-semi-bold;
    cursor: pointer;

    &:hover {
      background: $shadow-light;

      .sub-options {
        display: block;
      }
    }
  }
}

.sub-options {
  position: absolute;
  top: 23px;
  left: 110px;
  background-color: $white;
  box-shadow: 0 4px 5px 3px $shadow-dark;
}

// Loader:
.loader-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 100px);
  background-color: $loader-background;
  z-index: 2;
}

.hidden {
  display: none;
}

// Buttons
.mfb-button {
  display: inline-block;
  padding: 5px 15px;
  transition: all 0.1s ease-in-out;
  border-radius: 13px;
  background-color: $white;
  color: $sidebar-back-color;
  line-height: normal;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $sidebar-dark-grey;
    color: $white;
  }
}
