//
// @file
// MFB Sidebar CSS.
//

@import "variables";

.folder-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  transition: all 0.2s ease-in-out;
  background-image: url(../icons/folder-stroke.svg);
  background-repeat: no-repeat;
}

.selected .folder-icon {
  background-image: url(../icons/folder-filled.svg);
}

.mfb-sidebar {
  flex: 2;
  border-right: 3px solid $sidebar-dark-grey;
  border-radius: 15px 0 0 15px;
  background-color: $sidebar-back-color;
  font-size: 14px;

  &__list {
    position: relative;
    margin: 0;
    padding: 15px 0 10px 25px;
    list-style: none;

    > .mfb-sidebar__list-item::after {
      display: none;
    }
  }

  &__list-item {
    display: block;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      top: -25px;
      left: -10px;
      width: 0;
      height: 45px;
      border-left: 1px solid $sidebar-light-grey;
      content: "";
    }

    &:first-child::after {
      top: 0;
      height: 20px;
    }

    &__folder {
      display: flex;
      align-items: center;
    }

    &__list {
      position: relative;
      margin: 0;
      padding: 0 0 0 16px;
      list-style: none;

      .mfb-sidebar__list-item::before {
        display: block;
        position: absolute;
        top: 20px;
        left: -10px;
        width: 20px;
        height: 0;
        border-bottom: 1px solid $sidebar-light-grey;
        content: "";
      }

      &::before {
        position: absolute;
        top: 0;
        bottom: 20px;
        left: 6px;
        border-left: 1px dashed $sidebar-medium-grey;
        content: "";
      }
    }
  }

  .sub-dir {
    &.collapsed .dropdown-container__arrow {
      transform: rotate(-45deg);
    }

    .mfb-sidebar__list-item__list {
      margin-top: -5px;
      transition: all 0.2s ease-in-out;
      opacity: 1;
      overflow: hidden;
    }

    &.collapsed > .mfb-sidebar__list-item__list {
      opacity: 0;
      max-height: 0;
    }

    &::before {
      width: 7px;
    }
  }

  .dropdown-container {
    display: flex;
    position: absolute;
    top: 14px;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    cursor: pointer;

    &__arrow {
      width: 5px;
      height: 5px;
      transform: rotate(45deg);
      transition: transform 0.2s ease-out;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
    }
  }

  .menu-link {
    display: flex;
    position: relative;
    align-items: center;
    height: 29px;
    margin-left: 18px;
    padding: 6px 0;
    transition: 100ms;
    border-bottom: none;
    color: $white;
    text-decoration: none;
    opacity: 0.7;

    &__title {
      margin-left: 8px;
    }

    &.selected {
      opacity: 1;
    }

    &:hover {
      border-bottom: none;
      color: $white;
      opacity: 1;
    }
  }
}
