.media-folder-browser {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mfb-overview {
  position: relative;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.overview-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
}

.overview-bar .search__current-folder {
  margin-left: 15px;
  color: #57677b;
  font-size: 25px;
  font-weight: 500;
}

.overview-bar .actions__count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  color: #000;
  font-size: 15px;
}

.overview-bar .select-actions,
.overview-bar .standard-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

.overview-bar .select-actions.hidden-scale-y,
.overview-bar .standard-actions.hidden-scale-y {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
}

.overview-bar .select-actions .mfb-button,
.overview-bar .standard-actions .mfb-button {
  margin: 0 5px;
}

.overview-bar .standard-actions {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.results-wrapper {
  position: relative;
  height: calc(100% - 100px);
  overflow: scroll;
}

.mfb-results-counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 40px;
  padding-left: 15px;
  border-top: solid 1px #e1e7ed;
  border-bottom: solid 1px #e1e7ed;
  background-color: #f3f7fa;
  color: #57677b;
}

.mfb-results-counter b {
  padding: 5px;
}

.overview-wrapper {
  height: calc(100% - 84px);
  overflow: scroll;
}

.mfb-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  border-top: solid 1px #e1e7ed;
  border-bottom: solid 1px #e1e7ed;
  background-color: #f3f7fa;
}

.mfb-pagination_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mfb-pagination_list-item {
  display: inline;
  margin-left: 20px;
}

.mfb-pagination_list-item:first-child {
  margin-left: 0;
}

.overview-container {
  display: -ms-grid;
  display: grid;
  padding: 15px;
  background-color: #fff;
  -ms-grid-columns: (minmax(7rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 15px;
}

.overview-container > .overview-item:first-child {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.overview-container::before {
  width: 0;
  padding-bottom: 100%;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  content: "";
}

.overview-item {
  position: relative;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  border: none;
  color: #000;
  text-decoration: none;
  overflow: hidden;
}

.overview-item:hover, .overview-item:active, .overview-item:focus {
  border: none;
  color: #000;
  text-decoration: none;
}

.overview-item__folder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  border-radius: 15px;
}

.overview-item__folder__image {
  width: 80%;
}

.overview-item__folder__label {
  width: 100%;
  margin-top: 5px;
  color: #272c38;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overview-item__folder:hover {
  opacity: 0.7;
}

.overview-item__folder.editable .overview-item__folder__label {
  text-overflow: clip;
  cursor: text;
}

.overview-item__folder.editable:hover {
  opacity: 1;
}

.overview-item__media {
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.overview-item__media.focused, .overview-item__media.editable, .overview-item__media:hover, .overview-item__media:active {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.overview-item__media.focused .overview-item__media__info, .overview-item__media.editable .overview-item__media__info, .overview-item__media:hover .overview-item__media__info, .overview-item__media:active .overview-item__media__info {
  height: 55px;
}

.overview-item__media.focused .info_details__size,
.overview-item__media.focused .info_details__type, .overview-item__media.editable .info_details__size,
.overview-item__media.editable .info_details__type, .overview-item__media:hover .info_details__size,
.overview-item__media:hover .info_details__type, .overview-item__media:active .info_details__size,
.overview-item__media:active .info_details__type {
  opacity: 1;
}

.overview-item__media__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 27px;
  padding-top: 5px;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  background-color: #fff;
  will-change: height;
}

.overview-item__media__selection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
  border: 5px solid #7ad83d;
  border-radius: 15px;
  opacity: 0;
  z-index: 1;
}

.overview-item__media .selected-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #7ad83d;
}

.overview-item__media .selected-icon::before {
  display: block;
  width: 11px;
  height: 18px;
  margin-top: -4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  content: "";
}

.overview-item__media.selected .overview-item__media__selection {
  opacity: 1;
}

.overview-item__media .info_icon {
  display: block;
  width: 26%;
  height: 20px;
  margin-left: 4%;
  float: left;
  background: no-repeat center center;
  background-size: 16px;
}

.overview-item__media.editable .overview-item__media__info {
  z-index: 2;
}

.overview-item__media.editable .overview-item__media__info .info_details__name {
  text-overflow: clip;
  cursor: text;
}

.overview-item__media .info_details {
  width: 70%;
  float: right;
  color: #000;
  line-height: 16px;
}

.overview-item__media .info_details__name {
  display: block;
  width: 95%;
  margin-top: 2px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overview-item__media .info_details__size, .overview-item__media .info_details__type {
  display: block;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.folder-browser-widget-modal .ui-front.ui-widget-content.ui-dialog-content {
  padding: 0;
}

.folder-context-menu {
  position: fixed;
  width: 120px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.context-options {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.context-options .option {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}

.context-options .option:hover {
  background: rgba(0, 0, 0, 0.1);
}

.context-options .option:hover .sub-options {
  display: block;
}

.context-options .option.linkoption {
  padding: 0;
}

.context-options .option__link {
  display: inline-block;
  width: calc(100% - 40px);
  padding: 10px 20px;
  color: #272c38;
}

.context-options .option__link:hover {
  text-decoration: none;
}

.sub-options {
  display: none;
  position: absolute;
  top: 23px;
  left: 110px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.1);
}

.loader-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100% - 100px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}

.hidden {
  display: none;
}

.mfb-button {
  display: inline-block;
  padding: 5px 25px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: solid 1px #57677b;
  border-radius: 15px;
  background-color: #fff;
  color: #57677b;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}

.mfb-button:hover, .mfb-button:focus {
  background-color: #57677b;
  color: #fff;
}

.upload-wrapper {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.1s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-color: #fff;
  z-index: 3;
  will-change: height;
}

.upload-wrapper.hidden {
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  overflow: hidden;
}
