{%
  set children_set = children is not empty
%}
{%
  set classes = [
    'mfb-sidebar__list-item',
    children_set ? 'sub-dir collapsed',
  ]
%}
<li{{ attributes.addClass(classes) }}>
  <div class="mfb-sidebar__list-item__folder">
    {% if children_set %}
      <div class="dropdown-container js-dropdown">
        <i class="dropdown-container__arrow"></i>
      </div>
    {% endif %}
    <a href="#"
       class="menu-link js-tree-item"
       data-id="{{ id }}"
       draggable="true"
       ondrop="Drupal.mfbDragDrop.onDropHandler(event, this)"
       ondragover="Drupal.mfbDragDrop.onDragOverHandler(event)"
       ondragstart="Drupal.mfbDragDrop.onDragStartHandler(event, 'folder')">
      <i class="folder-icon"></i>
      <span class="menu-link__title">{{ name }}</span>
    </a>
  </div>
  {% if children_set %}
    <ul class="mfb-sidebar__list-item__list">
      {{ children }}
    </ul>
  {% endif %}
</li>