<div class="media-folder-browser">
  <div class="mfb-sidebar">
      {{ sidebar_folders }}
  </div>
  <div class="mfb-overview">
    <div class="search-bar"></div>
    <div class="results-wrapper">
      {{ results }}
    </div>
  </div>
</div>