<div class="media-folder-browser">
  <div class="mfb-sidebar">
      {{ sidebar_folders }}
  </div>
  <div class="mfb-overview">
    <div class="search-bar">
      <div class="search-bar__current-folder js-current-folder">Root</div>
    </div>
    {{ results }}
  </div>
</div>