<a href="#" data-id="{{ id }}" class="overview-item overview-item__folder">
  <img src="{{ folder_icon }}" class="overview-item__folder__image" alt="folder">
  <div class="overview-item__folder__label">
    {{ name }}
  </div>
</a>
