{%
set classes = [
  'mfb-sidebar__list-item',
  children is not empty ? 'sub-dir collapsed',
]
%}
<li{{ attributes.addClass(classes) }}>
  <a href="#" class="menu-link js-tree-item" data-id="{{ id }}">{{ name }}</a>
  {% if children is not empty %}
    <ul class="mfb-sidebar__list-item__list">
      {{ children }}
    </ul>
  {% endif %}
</li>